body {background-color: rgb(171, 240, 240);}

h1, h2 {
    text-align: center;
    color: rgb(147, 18, 115);
}

img {
    display: block;
    margin: auto;   
}
.responsive {
    max-width: 550px;
    width: 50%;
    height: auto;
}

ul, ol {
    display: table;
    margin: 0 auto;
}

a {
    display: block;
}
