body {background-color: rgb(171, 240, 240);}

h1, h2 {
    text-align: center;
    color: rgb(147, 18, 115);
}

img {
    display: block;
    margin: auto;   
}

button {
    display: block;
    height: 20px;
    background-color: rgb(171, 240, 240);
    border: none;
}
button:hover {
    background-color:rgb(235, 192, 219);
}

p {
    text-align: center;

}
.responsive {
    max-width: 550px;
    width: 50%;
    height: auto;
}

ul, ol {
    display: table;
    margin: 0 auto;
}

a {
    display: block;
}

